{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="photo">
 <img src="{{ asset('images/photo.jpg') }}" alt="foto jeux" class="w-100">
</div>

{% endblock %}
