*{
    list-style:none;
    margin:0;
    padding:0;
}

.photo{
   opacity: 0.5; 
}

h4{
margin-top: 2rem;
margin-bottom: 2rem;;
text-align: center;
color:black;
font-family: Georgia, 'Times New Roman', Times, serif;
}
/* .banniere{
    background-image: url("../images/bannière.jpg");
} */